/* Reset */
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  font: inherit;
}

:root{
  --clr-primary: hsl(0, 0%, 72%);/* beige */
  --clr-primary: 0 0% 75%;/* beige */
  --clr-secondary: 0 0% 0%;/* black */
  --clr-accent-400: hsl(263, 54%, 44%);/* blue */
  --clr-accent-400: 240 55% 45%;/* blue */
  --clr-accent-300: 100 50% 60%;/* light green */
  --clr-light: 0 100% 100%;/* white */
  --clr-dark: 200 20% 20%;/* dark blue */

  --fw-bold: bold;
  --fw-normal: normal;
}

/* Utility classes */
.bg-primary{
  background-color: hsl(var(--clr-primary));
}

.bg-accent-400{
  background-color: hsl(var(--clr-accent-400));
}

.bg-accent-300{
  background-color: hsl(var(--clr-accent-300));
}

.bg-light{
  background-color: hsl(var(--clr-light));
}

.bg-dark{
  background-color: hsl(var(--clr-dark));
}

.text-secondary{
  color: hsl(var(--clr-secondary));
}

.text-light{
  color: hsl(var(--clr-light));
}

.text-center{
  text-align: center;
}

.fw-bold{
  font-weight: var(--fw-bold);
}

.fw-normal{
  font-weight: var(--fw-normal);
}

.grid{
  display: grid;
}

.wrapper{
  max-width: 45em;
  margin-inline: auto;
  padding-inline: 2.5rem;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 2.5rem);
}

.button{
  border: 0;
  cursor: pointer;
  border-radius: .25rem;
}

.button:is(:active){
  scale: .9;
}
/* Components */
body{
  place-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.tenzies{
  border-radius: .5rem;
  padding: 2.5rem;

  position: relative;
}

[data-game] {
  transition: 350ms;
}

.tenzies__subtitle{
  --flow-space: .5rem;
  max-width: 45ch;
  margin-inline: auto;
}

.tenzies__grid{
  grid-template-columns: repeat(5, 2.5rem);
  gap: 1rem;
  place-content: center;
}

.tenzies__grid button{
  aspect-ratio: 1;
}

.freeze{
  background-color: hsl(var(--clr-accent-300));
}

.button--play-reset{
  padding: .5rem 2rem;
}

.celebration{
  position: absolute;
  z-index: 2;
  inset: 0;
  width: 100%;
  height: 100%;
  translate: 0 -100%;
  opacity: 0;
  transition: 350ms;
  pointer-events: none;
}